.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px;
    background-color: white;
}
.site-header nav {
    display: flex;
    gap: 18px;
}

.site-header a {
    text-decoration: none;
    color: #69439b;
}

.site-header nav a:hover {
    color: #e88738;
}